<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body.body {
        background: #c9e9c9;
      }
      div.wrapper {
        width: 100%;
        height: 100vh;
      }
      div.wrapper > div {
        padding: 20px;
        border-radius: 15px;
      }
      label.otp {
        background-color: #3d8f3d;
        color: #fff;
        padding: 10px 10px;
        font-size: 20px;
        box-shadow: 0 0 10px #555;
        border-radius: 10px;
        text-align: center;
      }
    </style>
  </head>

  <body class="body">
    <div class="wrapper">
      <div>
        <h1>Welcome Dear User</h1>
        <p>Were Received Your For Got Passwod Request Here is Your OTP</p>
        <label class="otp">OTP : <%= otp %> </label>
      </div>
    </div>
  </body>
</html>
